<!DOCTYPE html>
<html lang="en">
<head>
	<title>Todo List</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/cdn/css/bootstrap.css">
	<script src="/cdn/libraries/jquery.js"></script><!-- the jQuery library-->
	<script src="/cdn/scripts/todo/index.js"></script><!-- Our JavaScript code for this page-->
</head>
<body>
	<h1>Stuff I need to do:</h1>
	<ol id="todoList">
		<!-- The list of stuff I need to do -->
	</ol>
	Add a new todo:
	<input type="text" id="newTodoInput"></input>
	<button class="btn btn-primary" type="button" id="addTodoButton">Add</button>
</body>
</html>